@charset "UTF-8";

.filter-container{
	margin-left: auto;
	margin-bottom:10px;
	width: 300px;
	height: 200px;
}
.form-items{
	margin-bottom: 5%;
}
.status-items{
	margin-left:10%;
}
.priority-items{
	margin-left:10%;
}
.button-items{
	margin-left:10%;
}
.navigation{
	display: flex;
	justify-content: flex-end;
}
.user-info{
	margin-right:30px
}
/* リンク風のスタイルをボタンに適用 */
.link-button {
    background: none;
    border: none;
    padding: 0;
    color: #0d6efd; /* ブートストラップのリンク色 */
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}