<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TaskMapper">
	
	<!-- タスクの全件取得 -->
	<select id="findAll" resultType="com.example.demo.entity.Task">
        <![CDATA[
	SELECT
           taskid,
	   title,
	   description,
	   deadline,
	   status,
	   progress,
           priority,
	   CASE
             WHEN CURRENT_TIMESTAMP > deadline and status <> 3 THEN 1
             WHEN CURRENT_TIMESTAMP + INTERVAL '48 hours' > deadline and status <> 3 THEN 2
           ELSE 0
    	 END AS message
        FROM task
	WHERE deleteFlg = 0 and loginId=#{loginId}
	ORDER BY priority DESC,deadline;
        ]]>;
    </select>
    
    <!-- 新規タスクの登録 -->
    <insert id="save">
        INSERT INTO task
            (title, description, deadline, status, progress, priority, created_at,updated_at, deleteFlg)
        VALUES
            (#{title}, #{description}, #{deadline}, 1, 0, #{priority},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,0);
    </insert>
    
        <!-- タスクIDを指定してタスクを取得 -->
    <select id="getTask" resultType="com.example.demo.entity.Task">
        SELECT * FROM task where taskId = #{taskId} and deleteFlg = 0;
	</select>
	
	   <!-- タスクの削除 -->
   <update id ="delete">
	UPDATE task SET deleteflg = 1 WHERE taskId = #{taskId};
   </update>
   
      <!-- タスクの更新 -->
   <update id="update" parameterType="com.example.demo.entity.Task">
	   UPDATE task SET title = #{title}, description = #{description},deadline = #{deadline},status = #{status}, progress = #{progress}, priority = #{priority}, updated_at = CURRENT_TIMESTAMP WHERE taskId = #{taskId} and updated_at = #{updatedAt}; 
   </update>
    
<!-- タスクの更新 -->
  <select id="filterTask" resultType="com.example.demo.entity.Task" parameterType="com.example.demo.entity.Check">
    	SELECT
	   taskid,
	   title,
	   description,
	   deadline,
	   status,
	   progress,
       	   priority,
	   CASE
             WHEN CURRENT_TIMESTAMP &gt; deadline and status != 3 THEN 1
             WHEN CURRENT_TIMESTAMP + INTERVAL '48 hours' &gt; deadline and status != 3 THEN 2
           ELSE 0
    	 END AS message
        FROM task
	WHERE deleteFlg=0 and loginid='aaa'
	<if test = "checkStatus1 or checkStatus2 or checkStatus3 or checkPriority1 or checkPriority2 or checkPriority3 or checkPriority4">
 	 and(
    		<if test = "checkStatus1">status = 1 or</if>
    		<if test = "checkStatus2">status = 2 or</if>
    		<if test = "checkStatus3">status = 3 or</if>
		<if test = "checkPriority1">priority = 1 or</if>
		<if test = "checkPriority2">priority = 2 or</if>
		<if test = "checkPriority3">priority = 3 or</if>
		<if test = "checkPriority4">priority = 4 or</if>
    	1=0
  	)
	</if>
	ORDER BY priority DESC,deadline;
   </select>

</mapper>