<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <!-- loginIDを指定してユーザーを取得 -->
    <select id="findByLoginId" resultType="com.example.demo.entity.Account">
        SELECT * FROM users where loginId = #{loginId};
    </select>

    <!-- loginIDを指定して件数を取得 -->
    <select id="isExistUser" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM users where loginId = #{loginId};
    </select>
    
    <insert id="register">
        INSERT INTO users(
        loginId
        ,password
        ,userName
        ,deleteFlg
        ,failedLoginAttemps
        ,lastLogin
        ,createdAt
        )
        VALUES(
        #{loginId}
        ,#{password}
        ,#{userName}
        ,0
        ,0
        ,CURRENT_TIMESTAMP
        ,CURRENT_TIMESTAMP
        );
    </insert>
    <select id="getUser" resultType="com.example.demo.entity.Account">
       SELECT * FROM users where loginId=#{loginId};
    </select>

    <update id="updateLoginId">
        UPDATE users
        SET
        loginId=#{newLoginId}
        , createdAt=CURRENT_TIMESTAMP
	where loginId=#{loginId}
    </update>
    <update id="updatePassword">
        UPDATE users
        SET
        password=#{password}
        , createdAt=CURRENT_TIMESTAMP
	where loginId=#{loginId}
    </update>
    <update id="updateUserName">
        UPDATE users
        SET
        userName=#{userName}
        , createdAt=CURRENT_TIMESTAMP
	where loginId=#{loginId}
    </update>
    <update id="incrementLoginFailureCount">
        UPDATE users SET failedloginattemps = failedloginattemps + 1, failedlogintime = CURRENT_TIMESTAMP WHERE loginId = #{loginId} ;
    </update>
    <update id="resetLoginFailureCount">
        UPDATE users SET failedloginattemps = 0, failedlogintime = null WHERE loginId = #{loginId};
    </update>
</mapper>